{:path-length 0,
 :children {\a {:path-length 1,
                :children {\b {:path-length 2,
                               :children {\c {:path-length 3,
                                              :word? true,
                                              :distance-to-resolution 0,
                                              :status :unable-to-move},
                                          \d {:path-length 3,
                                              :word? true,
                                              :children {\e {:path-length 4,
                                                             :word? true,
                                                             :children {\f {:path-length 5, :word? true}},
                                                             :distance-to-resolution 0,
                                                             :status :completes-word},
                                                         \x {:path-length 4,
                                                             :children {\y {:path-length 5,
                                                                            :word? true,
                                                                            :distance-to-resolution 0,
                                                                            :status :completes-word}},
                                                             :status :losing,
                                                             :best-moves #{\y},
                                                             :distance-to-resolution 1},
                                                         \t {:path-length 4,
                                                             :children {\u {:path-length 5,
                                                                            :word? true,
                                                                            :distance-to-resolution 0,
                                                                            :status :completes-word}},
                                                             :status :losing,
                                                             :best-moves #{\u},
                                                             :distance-to-resolution 1},
                                                         \g {:path-length 4,
                                                             :children {\h {:path-length 5,
                                                                            :children {\i {:path-length 6,
                                                                                           :children {\j {:path-length 7,
                                                                                                          :children {\k {:path-length 8,
                                                                                                                         :children {\l {:path-length 9,
                                                                                                                                        :word? true,
                                                                                                                                        :distance-to-resolution 0,
                                                                                                                                        :status :completes-word}},
                                                                                                                         :status :losing,
                                                                                                                         :best-moves #{\l},
                                                                                                                         :distance-to-resolution 1}},
                                                                                                          :status :winning,
                                                                                                          :best-moves #{\k},
                                                                                                          :distance-to-resolution 2}},
                                                                                           :status :losing,
                                                                                           :best-moves #{\j},
                                                                                           :distance-to-resolution 3}},
                                                                            :status :winning,
                                                                            :best-moves #{\i},
                                                                            :distance-to-resolution 4},
                                                                        \k {:path-length 5,
                                                                            :children {\l {:path-length 6,
                                                                                           :children {\m {:path-length 7,
                                                                                                          :word? true,
                                                                                                          :distance-to-resolution 0,
                                                                                                          :status :completes-word},
                                                                                                      \x {:path-length 7,
                                                                                                          :word? true,
                                                                                                          :distance-to-resolution 0,
                                                                                                          :status :completes-word}},
                                                                                           :status :losing,
                                                                                           :best-moves #{\m \x},
                                                                                           :distance-to-resolution 1},
                                                                                       \n {:path-length 6,
                                                                                           :children {\p {:path-length 7,
                                                                                                          :children {\q {:path-length 8,
                                                                                                                         :children {\r {:path-length 9,
                                                                                                                                        :children {\s {:path-length 10,
                                                                                                                                                       :children {\t {:path-length 11,
                                                                                                                                                                      :word? true,
                                                                                                                                                                      :distance-to-resolution 0,
                                                                                                                                                                      :status :completes-word}},
                                                                                                                                                       :status :losing,
                                                                                                                                                       :best-moves #{\t},
                                                                                                                                                       :distance-to-resolution 1}},
                                                                                                                                        :status :winning,
                                                                                                                                        :best-moves #{\s},
                                                                                                                                        :distance-to-resolution 2}},
                                                                                                                         :status :losing,
                                                                                                                         :best-moves #{\r},
                                                                                                                         :distance-to-resolution 3}},
                                                                                                          :status :winning,
                                                                                                          :best-moves #{\q},
                                                                                                          :distance-to-resolution 4}},
                                                                                           :status :losing,
                                                                                           :best-moves #{\p},
                                                                                           :distance-to-resolution 5}},
                                                                            :status :winning,
                                                                            :best-moves #{\l \n},
                                                                            :distance-to-resolution 2}},
                                                             :status :losing,
                                                             :best-moves #{\h},
                                                             :distance-to-resolution 5}},
                                              :status :winning,
                                              :best-moves #{\g \t \x},
                                              :distance-to-resolution 2}},
                               :status :losing,
                               :best-moves #{\d},
                               :distance-to-resolution 3}},
                :status :winning,
                :best-moves #{\b},
                :distance-to-resolution 4},
            \z {:path-length 1,
                :children {\k {:path-length 2,
                               :children {\l {:path-length 3,
                                              :word? true,
                                              :distance-to-resolution 0,
                                              :status :unable-to-move}},
                               :status :losing,
                               :best-moves #{\l},
                               :distance-to-resolution 1}},
                :status :winning,
                :best-moves #{\k},
                :distance-to-resolution 2}},
 :status :losing,
 :best-moves #{\a},
 :distance-to-resolution 5}
